.centerContainerDiv {
  padding: 1vh 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  width: fit-content;
}
.centerContainer {
  display: flex;
  /* border: 2px solid green; */
  padding: 2vh 1vh;
}
.createPostBox {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.createPostBtn button {
  border: transparent;
  border-radius: 2vh;
  padding: 2vh 3vh;
  font-size: 3vh;
  font-weight: bold;

  background: #793ce5;
  background: linear-gradient(
    44deg,
    rgba(121, 60, 229, 1) 44%,
    rgba(16, 86, 239, 1) 100%
  );
  color: white;
}
.writePost {
  display: flex;
  gap: 1px;
  align-items: center;
}
.createPostBox .writePost input {
  border-radius: 2vh 0vh 0vh 2vh;
  border: 1px solid black;
  outline: none;
  font-size: 3vh;
  width: 20rem;
  padding: 2vh;
  padding-left: 2vh;
}

.writePost .blogPost {
  position: relative;
  font-size: 4vh;
  padding: 1.4vh 3vh;
  border: 1px solid black;
  border-radius: 0vh 2vh 2vh 0vh;
  text-transform: uppercase;
  /* background: #3cafe5; */
  color: white;
  background: linear-gradient(
    165deg,
    rgba(60, 175, 229, 1) 18%,
    rgba(239, 16, 176, 1) 97%
  );
}
.posterContainerCard {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.postCard {
  background-color: white;
  border: 1px solid black;
  border-radius: 2vh;
  max-width: 76vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vh;
}
.postCard .cardInfo {
  display: flex;
  gap: 1vh;
  align-items: center;
}
.postProfile {
  /* border: 2px solid blue; */
  width: 5vh;
  height: 5vh;
  /* padding: 1vh; */
}
.postProfile img {
  width: 100%;
  height: 100%;
  border-radius: 4vh;
  /* border: 2px solid red; */
}
/* .userUploadImg{
    border: 2px solid blue;
} */
.userUploadImg img {
  /* border: 2px solid red; */
  width: 100%;
}
.posterName {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.posterName .nameUser h3 {
  font-size: 3vh;
}
.postCard .cardDesc {
  display: flex;
  flex-direction: column;
}
.postCard .PostActionBtn {
  /* border: 2px solid black; */
  background-color: rgb(226, 227, 221);
  border-radius: 0vh 0vh 2vh 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vh;
  padding: 1vh 0vh;
  gap: 10vh;
}
/* .cardDesc{
    border: 2px solid red;
} */
.userDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* sirf 5 lines show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.userDescription.expanded {
  -webkit-line-clamp: unset; /* full text show kare */
}
.userDescription p {
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.seeMoreBtn {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding: 0.5vh 0;
  font-size: 2.5vh;
}
.cardDesc .seeMoreBtn {
  /* border: 2px solid green; */
  text-align: left;
  color: black;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.likeIcon {
  color: rgb(255, 0, 140);
}
.commentIcon {
  color: rgb(21, 138, 158);
}
.shareIcon {
  color: rgb(255, 17, 0);
}
.saveIcon {
  color: rgb(58, 58, 58);
}
@media (min-width: 0px) and (max-width: 568px) {
  .centerContainerDiv {
    padding: 1vh 0vh;
  }
}
@media (min-width: 450px) and (max-width: 497px) {
  .createPostBox {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .writePost {
    display: flex;
    gap: 1px;
    align-items: center;
  }
  .createPostBox .writePost input {
    border-radius: 2vh 0vh 0vh 2vh;
    border: 1px solid rgb(255, 0, 0);
    outline: none;
    font-size: 3vh;
    /* width: 15rem; */
    width: 0vh;
    min-width: 40vh;
    padding: 2vh;
    padding-left: 2vh;
  }

  .writePost .blogPost {
    position: relative;
    font-size: 4vh;
    padding: 1.4vh 3vh;
    border: 1px solid black;
    border-radius: 0vh 2vh 2vh 0vh;
    text-transform: uppercase;
    /* background: #3cafe5; */
    color: white;
    background: linear-gradient(
      165deg,
      rgba(60, 175, 229, 1) 18%,
      rgba(239, 16, 176, 1) 97%
    );
  }
}
@media (min-width: 370px) and (max-width: 450px) {
  .createPostBox {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .writePost {
    display: flex;
    gap: 1px;
    align-items: center;
  }
  .createPostBox .writePost input {
    border-radius: 2vh 0vh 0vh 2vh;
    border: 1px solid rgb(255, 0, 0);
    outline: none;
    font-size: 3vh;
    /* width: 15rem; */
    width: 0vh;
    min-width: 30vh;
    padding: 2vh;
    padding-left: 2vh;
  }

  .writePost .blogPost {
    position: relative;
    font-size: 4vh;
    padding: 1.4vh 3vh;
    border: 1px solid black;
    border-radius: 0vh 2vh 2vh 0vh;
    text-transform: uppercase;
    /* background: #3cafe5; */
    color: white;
    background: linear-gradient(
      165deg,
      rgba(60, 175, 229, 1) 18%,
      rgba(239, 16, 176, 1) 97%
    );
  }
}
@media (min-width: 300px) and (max-width: 370px) {
  .createPostBox {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .writePost {
    display: flex;
    gap: 1px;
    align-items: center;
  }
  .createPostBox .writePost input {
    border-radius: 2vh 0vh 0vh 2vh;
    /* border: 1px solid rgb(255, 0, 0); */
    outline: none;
    font-size: 2vh;
    /* width: 15rem; */
    width: 0vh;
    min-width: 25vh;
    padding: 2vh;
    padding-left: 2vh;
  }

  .writePost .blogPost {
    position: relative;
    font-size: 4vh;
    padding: 1.4vh 3vh;
    border: 1px solid black;
    border-radius: 0vh 2vh 2vh 0vh;
    text-transform: uppercase;
    /* background: #3cafe5; */
    color: white;
    background: linear-gradient(
      165deg,
      rgba(60, 175, 229, 1) 18%,
      rgba(239, 16, 176, 1) 97%
    );
  }
  .writePost .blogPost {
    position: relative;
    font-size: 3vh;
    padding: 1.4vh 3vh;
    border: 1px solid black;
    border-radius: 0vh 2vh 2vh 0vh;
    text-transform: uppercase;
    /* background: #3cafe5; */
    color: white;
    background: linear-gradient(
      165deg,
      rgba(60, 175, 229, 1) 18%,
      rgba(239, 16, 176, 1) 97%
    );
  }
  .posterContainerCard {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 0vh;
  }
  .postCard {
    background-color: white;
    border: 1px solid black;
    border-radius: 2vh;
    max-width: 40vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
  }
  .postCard .PostActionBtn {
    border: 2px solid black;
    background-color: rgb(226, 227, 221);
    border-radius: 0vh 0vh 2vh 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4vh;
    padding: 1vh 0vh;
    gap: 4vh;
  }
}
@media (min-width: 200px) and (max-width: 300px) {
  .createPostBox {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .centerContainerDiv {
    padding: 1vh 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    width: fit-content;
  }
  .writePost {
    display: flex;
    gap: 1px;
    align-items: center;
  }
  .createPostBox .writePost input {
    border-radius: 2vh 0vh 0vh 2vh;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    font-size: 2vh;
    max-width: 0rem;
    width: 0vh;
    min-width: 20vh;
    padding: 2vh;
    padding-left: 2vh;
  }

  .writePost .blogPost {
    position: relative;
    font-size: 4vh;
    padding: 1.4vh 3vh;
    border: 1px solid black;
    border-radius: 0vh 2vh 2vh 0vh;
    text-transform: uppercase;
    /* background: #3cafe5; */
    color: white;
    background: linear-gradient(
      165deg,
      rgba(60, 175, 229, 1) 18%,
      rgba(239, 16, 176, 1) 97%
    );
  }
  .writePost .blogPost {
    position: relative;
    font-size: 3vh;
    padding: 1.4vh 3vh;
    border: 1px solid black;
    border-radius: 0vh 2vh 2vh 0vh;
    text-transform: uppercase;
    /* background: #3cafe5; */
    color: white;
    background: linear-gradient(
      165deg,
      rgba(60, 175, 229, 1) 18%,
      rgba(239, 16, 176, 1) 97%
    );
  }
  .posterContainerCard {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 30vh;
    justify-content: center;
    align-items: center;
    gap: 0vh;
  }
  .postCard {
    background-color: white;
    border: 1px solid black;
    border-radius: 2vh;
    min-width: 40vh;
    display: flex;

    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
  }
  .postCard .PostActionBtn {
    border: 2px solid black;
    background-color: rgb(226, 227, 221);
    border-radius: 0vh 0vh 2vh 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4vh;
    padding: 1vh 0vh;
    gap: 4vh;
  }
}
